apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true # TODO: fix tls verify
    server: {{ cluster_url }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    namespace: {{ user_namespace }}
    user: {{ user_name }}
  name: {{ user_name }}_context
current-context: {{ user_name }}_context
kind: Config
preferences: {}
users:
- name: {{ user_name }}
  user:
    token: {{ user_token }}
